<ul>
  <% if @users.present? %>
    <% @users.each do |user| %>
      <li>
        <%= render 'partials/user', user: user %>
      </li>
    <% end %>
  <% else %>
    <li>No users found.</li>
  <% end %>
</ul>
