<ul>
  <% if @users.present? %>
    <% @users.each do |user| %>
      <li>
        <a href='users/<%= user.id %>'><%= render 'partials/user', user: user %></a>
      </li>
    <% end %>
  <% else %>
    <li>No users found.</li>
  <% end %>
</ul>
